<ion-header no-shadow no-border>
    <ion-navbar></ion-navbar>
</ion-header>


<ion-content>
  <h2 class="page-title">{{ this.item.event_name }}</h2>

  <p class="date">{{ item.starts * 1000 | date:'MMM d, yyyy' }}</p>
  <p class="time">{{item.starts * 1000 | date:'h:mm a'}} - {{item.ends * 1000 | date:'h:mm a'}}</p>
  <p class="location">{{ this.item[0].address }} <br />{{ this.item[0].city }}, CA {{ this.item[0].postal_code }}</p>

  <div class="registerOverlay">

    <div *ngIf="item.type_id === 1"><img src="assets/img/animals.jpg" /></div>
    <div *ngIf="item.type_id === 2"><img src="assets/img/education.jpg" /></div>
    <div *ngIf="item.type_id === 3"><img src="assets/img/aging.jpg" /></div>
    <div *ngIf="item.type_id === 4"><img src="assets/img/environment.jpg" /></div>
    <div *ngIf="item.type_id === 5"><img src="assets/img/food.jpg" /></div>
    <div *ngIf="item.type_id === 6"><img src="assets/img/homeless.jpg" /></div>
    <div *ngIf="item.type_id === 7"><img src="assets/img/humanities.jpg" /></div>
    <div *ngIf="item.type_id === 8"><img src="assets/img/government.jpg" /></div>
    <div *ngIf="item.type_id === 9"><img src="assets/img/museum.jpg" /></div>
    <div *ngIf="item.type_id === 10"><img src="assets/img/technology.jpg" /></div>
    <div *ngIf="item.type_id === 11"><img src="assets/img/youth.jpg" /></div>
    <div *ngIf="item.type_id === 12"><img src="assets/img/yourunity.jpg" /></div>

    <button ion-button outline class="registerButton" [ngClass]="{activeButton: canRegister(item)}" 
    (click)="register(item)" 
    [disabled]="!canRegister(item)">Register</button>

  </div>

  <p [innerHTML]="item.event_description" class="last"></p>
  
</ion-content>

<div class="bottom-tab">
    <div class="tab-icon active">
      <div *ngIf="item.type_id === 1"><ion-icon name='paw'></ion-icon><div class="tab-text">Animals</div></div>
      <div *ngIf="item.type_id === 2"><ion-icon name='school'></ion-icon><div class="tab-text">Education</div></div>
      <div *ngIf="item.type_id === 3"><ion-icon name='glasses'></ion-icon><div class="tab-text">Elderly</div></div>
      <div *ngIf="item.type_id === 4"><ion-icon name='leaf'></ion-icon><div class="tab-text">Environment</div></div>
      <div *ngIf="item.type_id === 5"><ion-icon name='restaurant'></ion-icon><div class="tab-text">Food</div></div>
      <div *ngIf="item.type_id === 6"><ion-icon name='home'></ion-icon><div class="tab-text">Homeless</div></div>
      <div *ngIf="item.type_id === 7"><ion-icon name='body'></ion-icon><div class="tab-text">Humanities</div></div>
      <div *ngIf="item.type_id === 8"><ion-icon name='people'></ion-icon><div class="tab-text">Local Government</div></div>
      <div *ngIf="item.type_id === 9"><ion-icon name='brush'></ion-icon><div class="tab-text">Musuem</div></div>
      <div *ngIf="item.type_id === 10"><ion-icon name='laptop'></ion-icon><div class="tab-text">Technology</div></div>
      <div *ngIf="item.type_id === 11"><ion-icon name='happy'></ion-icon><div class="tab-text">Youth</div></div>
      <div *ngIf="item.type_id === 12"><ion-icon name='list-box'></ion-icon><div class="tab-text">Other</div></div>
    </div>
    <div class="tab-icon"><ion-icon name='calendar'></ion-icon><div class="tab-text">{{item.starts * 1000 | date:'dd MMM'}}</div></div>
    <div class="tab-icon"><div *ngIf="ios; then iosMap else googleMap"></div></div>
    <ng-template #iosMap><a href="http://maps.apple.com/maps?q={{item[0].latitude}},{{item[0].longitude}}"><div class="tab-icon"><ion-icon name='pin'></ion-icon><div class="tab-text">{{ item.distance }} mi</div></div></a></ng-template>
    <ng-template #googleMap><a href="http://maps.google.com?q={{item[0].latitude}},{{item[0].longitude}}"><div class="tab-icon"><ion-icon name='pin'></ion-icon><div class="tab-text">{{ item.distance }} mi</div></div></a></ng-template>
</div>