page-your-cards {

}

// Collapse and expand of cards

.collapse-container {

}

.collapse-body {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    background: url(http://placekitten.com/g/600/300);
    color: #FFF;
}

.open {
    height: 300px;
}


.toolbar {
    background-color: #3f3f3f !important;
}

h2 {
    color: $text-color !important;
}

.card-content p {
    color: $text-color !important;
}

.organization {
    color: #2e2e2e !important;
    font-size: 1.9rem !important;
}

.time {
    color: #2e2e2e !important;
    font-size: 1.7rem !important;
}

.item {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    background-color: #6bbaa7;
    border-radius: 5px;
    margin-top: 20px !important;
}

.col-border {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    border-right: 1px solid #fff;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.override-button {
    height: 30px !important;
}

.no-overflow {
    width: 100%;
}