// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #efefef;
$background-color:  #3f3f3f;

$toolbar-md-background: #3f3f3f;
$tabbar-md-background: #2e2e2e;

$refresher-icon-color: #efefef;
$refresher-text-color: #efefef;
$refresher-border-color: #3f3f3f;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #6bbaa7,
  secondary:  #317ee2,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #2e2e2e,
  darker:     #3f3f3f
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-md-input-text-color: #ccc;
$searchbar-ios-input-placeholder-color: #ccc;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

h3 {
  color: #efefef !important;
}

.tabs {
  background-color: #2e2e2e !important;
  z-index: 998 !important;
}

.tabs-ios {
  background: #2e2e2e !important;
  z-index: 998 !important;
}

.toolbar-background {
  background-color: #3f3f3f !important;
  opacity: 0 !important;
}

.toolbar {
  background: #3f3f3f !important;
}

.toolbar-ios {
  background: #3f3f3f !important;
}

h1 {
  color: $text-color !important;
  font-weight: 500 !important;
}

h2 {
  font-size: 1.9rem !important;
  font-weight: 300 !important;
}

p {
  font-size: 1.6rem !important;
}

.tabbar {
  background: #2e2e2e !important;
  z-index: 998 !important;
  
}

.tabs-md .tab-button[aria-selected=true] {
  color: #6bbaa7 !important;
}

.tabs-md .tab-button[aria-selected=false] {
  color: $text-color !important;
  z-index: 998 !important;
}

.tab-button-icon {
  color: #fefefe !important;
  z-index: 998 !important;
}

// Centers items horizontally
.center {
  text-align: center;
}

.center-vert {
  padding: 6px 0;
}

// Places items at the bottom of the screen
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// Increases font size
.larger {
  font-size: 2.8rem !important;
  font-weight: 300 !important;
  color: $text-color !important;
}

.bold {
  font-weight: 500 !important;
}

// Thins out text weight
.thin {
  font-weight: 200 !important;
}

// Changes text color to dark color
.dark-text {
  color: $background-color !important;
}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
