page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -530px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    margin-bottom: 3px;
    margin-top: 50px;
    background: url('../assets/img/white_logo.png') no-repeat transparent;
    background-size: 100%;
    width: 200px;
    height: 65px;
  }
  .splash-intro {
    font-size: 16pt;
    font-weight: 500;
    max-width: 80%;
    margin: auto;
    margin-left: 12%;
    z-index: 2;
    color: #efefef !important;
  }

  .splash-buttons {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  button.login {
    z-index: 2;
    height: 60px;
    background: none;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  button.signup {
    z-index: 2;
    height: 60px;
    margin-top: 15px;
    background: rgba(107, 186, 167, 0.95);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
  }
}
