page-home {

}

.white-card:first-of-type {
    margin-top: 45px !important;
}

.white-card {
    background-color: #fff !important;
}

// Gives a little white space at the top to make the chart look better
.space {
    background: #fff !important;
}

// Formatting for the h3 titles inside chart circles
.hours-events {
    color: $text-color !important;
    font-size: 2.7rem !important;
    padding: 20px;
}

.settings {
    color: $text-color;
    font-size: 2.5rem;
    float: right;
    margin-right: 25px;
    margin-top: 23px;
}

.progress {
    width: 100% !important;
    padding: 0;
    padding-bottom: 1px;
}

.progress img {
    width: 100% !important;
}

// Teal vertical dividing line
.divide {
    border-right: 1px solid #6bbaa7;
}

// Top and bottom padding for the stat card
.tb-padding {
    padding-top: 13px;
    padding-bottom: 13px;
}

.name {
    font-size: 2.7rem !important;
    margin-bottom: 20px !important;
}