<ion-header no-shadow no-border>

  <!-- <ion-navbar>
    <div class="center larger bold">{{ 'CARDS_TITLE' | translate }}</div>
  </ion-navbar> -->

</ion-header>


<ion-content [ngClass]="{noScroll: isOpened()}">

  <ion-refresher (ionRefresh)="doRefresh($event);">

    <ion-refresher-content>
    
    </ion-refresher-content>
    
  </ion-refresher>

  <ion-card class="card" *ngFor="let item of cardItems" [ngClass]="{absolute: isCardOpened(item)}">
      
    <ion-item class="no-overflow" (click)="openEvent(item)">
      <!-- <ion-avatar item-start>
        <img [src]="item.user.avatar">
      </ion-avatar> -->
      <h1>{{item.event_name}}</h1>
      <p class="organization">{{ item.starts * 1000 | date:'MMM d, yyyy' }}</p>
      <p class="time">{{item.starts * 1000 | date:'h:mm a'}} - {{item.ends * 1000 | date:'h:mm a'}}</p>
    </ion-item>

    <div class="closed" [ngClass]="{open: isCardOpened(item)}">

      <div class="registerOverlay">

          <img src="assets/img/eco.jpg" />

          <button ion-button outline class="registerButton" [ngClass]="{activeButton: canRegister(item)}" 
          (click)="register(item)" 
          [disabled]="!canRegister(item)">Register</button>

      </div>

      <p>{{ item.event_description }}</p>
    </div>

    <!-- <img [src]="item.cat_image"> -->

    <ion-row>
      <ion-col class="col-border">
        <button ion-button color="light" clear small icon-start class="override-button">
            <!-- <ion-icon name='thumbs-up'></ion-icon> -->
            <ion-icon name='leaf'></ion-icon>
          </button>
      </ion-col>
      <ion-col class="col-border">
        <button ion-button color="light" clear small icon-start center class="override-button">
            <!-- <ion-icon name='text'></ion-icon> -->
            <div class="center"><ion-icon name='calendar'></ion-icon><span class="col-text">{{item.starts * 1000 | date:'dd MMM'}}</span></div>
          </button>
      </ion-col>
      <ion-col class="col-border">
          <div *ngIf="ios; then iosMap else googleMap"></div>
          <ng-template #iosMap><a button href="http://maps.apple.com/maps?q={{latitude}},{{longitude}}"><div class="center center-vert"><ion-icon name='pin'></ion-icon><span class="col-text"> 1.7 mi</span></div></a></ng-template>
          <ng-template #googleMap><a button href="http://maps.google.com?q={{latitude}},{{longitude}}"><div class="center center-vert"><ion-icon name='pin'></ion-icon><span class="col-text"> 1.7 mi</span></div></a></ng-template>
          <!-- <button ion-button color="light" clear small icon-start center class="override-button" (click)="startExternalMap()">
              <div class="center"><ion-icon name='pin'></ion-icon><span class="col-text">1.7 mi</span></div>
          </button> -->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>